<!DOCTYPE html>
<html lang="en">
<head th:replace="~{general.html :: head}"></head>
<body class="bg-danger">
<div class="container">
    <div class="row mt-5">
        <div class="col-xl-3 mb-3" th:each="pokemon : ${allPokemons}">
            <a class="link-underline-opacity-0 link-underline" th:href="@{'/api/v1/pokemon/' + ${pokemon.getId()}}">
                <div class="card">
                    <img th:src="${pokemon.getImage().getUrl()}">
                    <h5 class="card-header text-center text-capitalize" th:text="${pokemon.getName()}"></h5>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>